@page
@model OrderReturn.HttpApi.Web.Pages.GLSReturnModel
@{
	ViewData["Title"] = "GLS";
	var orderNumber = ViewData["OrderNumber"];
}
<h1>
    <img src="~/image/logo.png" >
</h1>
<section class="box1">
	<h3 class="lang" key="title1"></h3>
	<h3 class="lang" key="title2"></h3>
</section>

<div class="translate-div">
	<select class="form-control" id="language">
		<option value="en">EN</option>
		<option value="de">DE</option>
	</select>
</div>
<section class="box2">
	<div class='box2-content'>
		
		<h3 class="c-cbr-PageSection-headline lang pleaseEnter" key="pleaseEnter"></h3>
		<form class="container-fluid">
			<div class="form-group">
				<label for="exampleInputEmail1" class="required lang orderNumber" key="orderNumber"></label>
				<input type="text" class="form-control" id="orderNumber" value="@orderNumber">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1" class="required lang name" key="name"></label>
				<input type="text" class="form-control" id="name">
			</div>

			<div class="form-group">
				<label for="exampleInputPassword1" class="required lang country" key="country"></label>
				<select class="form-control" id="country">
					<option style='display: none'></option>
					<option value="AT" key="Austria">Austria</option>
					<option value="BE" key="Belgium">Belgium</option>
					<option value="HR" key="Croatia">Croatia</option>
					<option value="CZ" key="Czech Republic">Czech Republic</option>
					<option value="DK" key="Denmark">Denmark</option>
					<option value="EE" key="Estonia">Estonia</option>
					<option value="FI" key="Finland">Finland</option>
					<option value="FR" key="France">France</option>
					<option value="DE" key="Germany">Germany</option>
					<option value="HU" key="Hungary">Hungary</option>
					<option value="IE" key="Ireland">Ireland</option>
					<option value="IT" key="Italy">Italy</option>
					<option value="LV" key="Latvia">Latvia</option>
					<option value="LT" key="Lithuania">Lithuania</option>
					<option value="LU" key="Luxembourg">Luxembourg</option>
					<option value="NL" key="Netherlands">Netherlands</option>
					<option value="PL" key="Poland">Poland</option>
					<option value="PT" key="Portugal">Portugal</option>
					<option value="SK" key="Slovakia">Slovakia</option>
					<option value="SI" key="Slovenia">Slovenia</option>
					<option value="ES" key="Spain">Spain</option>
					<option value="SE" key="Sweden">Sweden</option>
				</select>
			</div>


			<div class="form-group">
				<label for="exampleInputPassword1" class="required lang address" key="address"></label>
				<input type="text" class="form-control" id="address">
			</div>

			<div class='other'>
				<div class="form-group input-w50">
					<label for="exampleInputPassword1" class="required lang zip" key="zip"></label>
					<input type="text" class="form-control input-w50" id="zip">
				</div>
				<div class="form-group input-w50">
					<label for="exampleInputPassword1" class="required lang city" key="city"></label>
					<input type="text" class="form-control input-w50" id="city">
				</div>
			</div>

			<div class="form-group">
				<label for="exampleInputPassword1" class="lang email" key="email"></label>
				<input type="email" class="form-control" id="email">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1" class="required lang reason" key="reason"></label>
				<input type="text" class="form-control" id="reason">
			</div>

			<button type="button" class="btn btn-default submit lang next" key="next"></button>
		</form>
	</div>
</section>

<section class="box5">
	<h3 class="lang labelBeenCreated" key="labelBeenCreated">
	</h3>
	<div class="box5-container">
		<div class="lang returnLabel" key="returnLabel"></div>
		<h6 class="lang printLabel" key="printLabel"></h6>
		<button type="button" class="box5-btn lang downloadPDF" key="downloadPDF" id="download" value=""></button>
	</div>
</section>

<script src="~/lib/jquery/dist/jquery.min.js">
</script>
<script>

	
	
    (function() {
            //Order Number
            var orderNumber;
            //First and last name
            var name;
            //Country
            var country;
            //Street Address
            var address;
            //ZIP
            var zip;
            //City
            var city;
            //E-Mail
            var email;
            //Return reason
            var reason;
            var speed = 1000;
            orderNumber = $('#orderNumber').val();
            $('#orderNumber').on('input', function() {
                orderNumber = $(this).val();
            });
            $('#name').on('input', function() {
                name = $(this).val();
            });

            $('#country').on('change', function() {
                country = $(this).val();
            });

            $('#address').on('input', function() {
                address = $(this).val();
            });

            $('#zip').on('input', function() {
                zip = $(this).val();
            });

            $('#city').on('input', function() {
                city = $(this).val();
            });

            email = "";
            $('#email').on('input', function() {
                email = $(this).val();
            });

            $('#reason').on('input', function() {
                reason = $(this).val();
            });

            $("#download").click(function(){
                var fileName = $(this).val();
                if(fileName){
                    window.open('/api/order-return/download/gls/' + fileName,'_blank');
                }
            })
            //提交
            $('.submit').on('click', function(e) {
                e.preventDefault();

                var flag = true;
                $(".required").each(function(index, element) {
                    if(!$('#'+ $(this).attr("key")).val()){
                        $(this).html(arrLang[lang][$(this).attr("key")] + ' field is required.').addClass('red');
                        flag = false;
                    }
                    else{
                        $(this).html(arrLang[lang][$(this).attr("key")]).removeClass('red');
                    }
		        });
                if(!flag){
                    return;
                }

                var postData = new Object();
                postData.orderNumber = orderNumber;
                postData.returnReason = reason;
                postData.sender = new Object();
                postData.sender.fullName = name;
                postData.sender.email = email;
                postData.sender.address = new Object();
                postData.sender.address.countryCode = country;
                postData.sender.address.city = city;
                postData.sender.address.street = address;
                postData.sender.address.zipCode = zip;

                var emailFlag = true;
                if(postData.sender.email){
                    var reg =  /^([\.a-zA-Z0-9_-])+@@([a-zA-Z0-9_-])+(\.[a-zA-Z0-9_-])+/;
                    if(!reg.test(postData.sender.email)){
                        $('.email').html('E-Mail format error').addClass('red');
                        emailFlag = false;
                    }
                }
                if(emailFlag){
                    $('.email').html('E-Mail').removeClass('red');
                }
                else{
                    return;
                }

                $('.submit').html('Creating').prop('disabled','disabled');

                $.ajax({
                    url: "/api/order-return/get-gls-label",
                    data: JSON.stringify(postData),
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: function(result) {
                        //成功之后...
                        $(".box2,.box3,.box4").css("display", "none");
                        $(".box5").css("display", "block").css("display", "flex");
                        windowHeight = parseInt($("body").css("height"));
                        $("html,body").animate({
                            "scrollTop": windowHeight
                        }, speed);
                        $("#download").val(result.fileName);
                    },
                    error:function(message){
                        alert("fail" + JSON.stringify(message));
                    }
                });
            });			
			
        })();
</script>